.venv
__pycache__
*.py[cod]
.mypy_cache
.pytest_cache
.ruff_cache
warehouse
*.duckdb
*.duckdb.wal
tests
dbt/canopica_warehouse/target
dbt/canopica_warehouse/logs
dbt/canopica_warehouse/dbt_packages
dbt/canopica_warehouse/.user.yml
